html, body, #root, .container {
    height: 100%;
}

.btn-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
}

.btn {
    flex: 1;
}

.btn:first-child {
    border-right: 1px solid rgba(75, 93, 1, 0.6);
}

.btn:nth-child(2) {
    border-left: 1px solid rgba(75, 93, 1, 0.6);
}