.Player {
    width: 100%;
    color: #fff;
}

.icon {
    padding-right: 10px;
}

tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

tr:last-child {
    border: 0;
}

td {
    padding: 20px
}

td:first-child {
    padding-left:20px;
    padding-right:0;
}

#id {
    text-align: center;
    white-space: nowrap;
}

#name {
    text-align: left;
}

#score {
    text-align: right;
}

#medal {
    width: 20px;
}